[Unit]
Description=Telegram Bot
After=network.target

[Service]
Type=simple
User=weather_bot
WorkingDirectory=/opt/weather_bot
ExecStart=/opt/weather_bot/venv/bin/python3 weather_bot.py
Restart=always
RestartSec=10s
StandardOutput=append:/var/log/weather_bot.log
StandardError=append:/var/log/weather_bot.log

[Install]
WantedBy=multi-user.target
